body {
    font-size: 1em;
    line-height: 1.1;
}

h1,
h2 {
    font-family: Roboto, sans-serif;
}

header,
h2,
nav,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    text-align: center;
    padding: .25em;
}

a:hover {
    color: orange;
}

a:active {
    color: red;
}

img {
    float: right;
    max-width: 10em;
    margin-top: -3em;
    margin-right: 1.5em;
}

header,
footer {
    background-color: cadetblue;
    border-radius: 8px;
}

footer p {
    font-size: .95em;
}