body {
    margin: 0;
}

header,
footer {
    background-color: steelblue;
    margin: 0 auto;
    height: 10%;
    padding: .5em;
}

h1 {
    margin: 0 auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}

#xxdiv,
#xydiv {
    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
}

#xxoutput,
#xyoutput {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: auto;
}