.info {
    width:50%;
    text-align: center;
    margin: 1rem auto;
}


.map {
    text-align: center;
    border: 2px solid $secondary;
    border-radius: 8px;
    padding: 1rem;
    .mapContainer {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }
}