header,
h2,
h3,
h4 {
    font-family: "Noto Serif", sans-serif;
    color: white;
}

.motto {
    font-size: 1em;
}

a,
p,
span,
figcaption {
    font-family: "Ubuntu", sans-serif;
    font-size: .55em;
}


.logo {
    width: 4em;
    float: left;
    margin-right: 2em;
    padding: 1em;
}

header,
footer {
    background-color: #4682b4;
    line-height: 1em;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 1em;
}

main h2 {
    color: black;
}

h3,
div {
    font-size: 1.5em;
}

nav {
    margin: 0 auto;
    background-color: olivedrab;
}

.active a {
    background-color: green;
    color: white;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #000;
    padding: .75rem;
    text-align: right;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: wheat;
    font-weight: 600;
}

.responsive li {
    display: block;
}


main {
    width: 100%;
}

.galleryDiv {
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    /* single most important and helpful line on this whole page*/
    justify-items: center;
}

.galleryImg {
    width: 225px;
    margin: 10px auto;
}

figure img[data-src] {
    filter: blur(.5em);
}

figure img {
    filter: blur(0);
    transition: filter 1.5s;
}

.mapImg {
    max-width: 80%;
    margin: auto;
    padding: 5px;
}

footer {
    padding: 8px;
}

footer h4 {
    margin-top: 0;
    font-size: 10px;
}

footer p,
a {
    font-size: 1.25rem;
}

footer div a {
    display: none;
}

footer span {
    font-size: 1.25rem;
    display: none;
}

figcaption {
    padding: .5em;
}












@media only screen and (min-width: 601px) and (max-width:800px) {
    main {
        max-width: 700px;
        margin: 0 auto;
    }

    nav {
        margin: 0 auto;
        background-color: wheat;
    }

    .navigation {
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        color: black;
        padding: .75rem;
        text-align: right;
        text-decoration: none;
    }

    .navigation a:hover {
        color: #000;
        background-color: olivedrab;
        font-weight: 600;
    }

    .responsive li {
        display: block;
    }

    .logo {
        width: 5em;

    }

    footer div a {
        display: inline;
    }

    .social {
        width: 20px;
    }

    footer span {
        display: inline;
    }

}










@media only screen and (min-width: 801px) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #000;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
    }

    .logo {
        width: 5em;
        padding-left: 15%;
        padding-bottom: 0;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    figure:hover {
        box-shadow: 10px 10px 10px grey;
    }

    figure {
        box-shadow: none;
        transition: box-shadow .35s;
    }

    footer h4 {
        margin-bottom: 2vmin;
    }

    .footerContent {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
    }

    .mapImg {
        width: 40%;
        margin-left: 10%;
        margin-right: 10%;
    }

    footer div a {
        display: inline;
    }

    .social {
        width: 20px;
    }

    footer span {
        display: inline;
    }
}