img {
    width: 300px;
    height: 400px;
    margin: 10px auto; 
}
body {
    max-width: 350px;
    margin: 0 auto;
    background-color: lightskyblue;
}
picture img[data-src] {
    filter: blur(.5em);
}
picture img {
    filter: blur(0);
    transition: filter 1.5s;
}